


$total-columns    : 4;
$column-width     : 4em;
$gutter-width     : 1em;
$grid-padding     : 1em;

$medium-columns   : 8;
$large-columns    : 12;
$mega-large				: 16;

$container-width  : container-outer-width($large-columns);